body {
    margin: 0;
    background-color: #111;
    overflow-x: hidden;
    font-family: 'Courier New', monospace;
}

.room {
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.room-bg {
    width: 100%;
    height: auto;
    display: block;
}



.pc-area, .frame-area, .bed-area, .gato-area, .radio-img, .lamp-img, .sasuke-img {
    position: absolute;
    cursor: pointer;
}

.pc-area {
    left: 158px;
    top: 350px;
    width: 95px;
    height: 100px;
    border: 2px solid transparent;
}
.pc-area:hover {
    box-shadow: 0 0 40px 20px #ffffff, 0 0 10px #f7f9fa;
    background: rgb(246, 250, 255);
    transition: all 0.3s ease;
    transform: scale(0.7);

}

.frame-area {
    left: 1190px;
    top: 280px;
    width: 80px;
    height: 270px;
}

.frame-area:hover {
    box-shadow: 0 0 40px 20px #fdba0146, 0 0 10px #fdcf0042;
    background: rgba(255, 153, 1, 0.144);
    transition: all 0.3s ease;
    transform: scale(1.1);

}

.bed-area {
    left: 900px;
    top: 450px;
    width: 300px;
    height: 300px;
}

.gato-area {
    left: 320px;
    top: 510px;
    width: 110px;
    height: auto;
}
.gato-area:hover {
    box-shadow: 0 0 40px 20px #ffffff00, 0 0 10px #f7f9fa00;
     background: rgba(246, 250, 255, 0);
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.radio-img {
    left: 535px;
    top: 310px;
    width: 100px !important;
    height: 100px !important;
    z-index: 10;
    object-fit: contain;
    background-color: transparent;
    transition: transform 0.2s;
}
.radio-img:hover {
    transform: scale(1.1);
}

.balloon {
    position: absolute;
    background-color: #111;
    color: #0ff;
    border: 2px solid #0ff;
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ff;
    max-width: 255px;
    z-index: 20;
    transition: opacity 0.5s ease;
}
#balloon-frame { top: 200px; left: 950px; }
#balloon-bed { top: 400px; left: 910px; }
#balloon-gato { top: 450px; left: 310px; }
#balloon-sasuke { top: 210px; left: 480px; }

.fade-in { opacity: 1; }
.fade-out { opacity: 0; }
.hidden { display: none; }





.lamp-img {
    position: absolute;
    right: 280px;
    top: 360px;
    width: 40px;
    height: 60px;
    z-index: 30;
    cursor: pointer;
    transition: filter 5s;
}

.sasuke-img {
    position: absolute;
    left: 630px;      /* ajuste conforme desejar */
    top: 240px;    /* ajuste conforme desejar */
    width: 300px;
    height: 530px;
    z-index: 12;
}

.sasuke-img:hover {
    box-shadow: 0 0 40px 20px #ffffff00, 0 0 10px #f7f9fa00;
     background: rgba(246, 250, 255, 0);
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.room.lit {
    background-color: #ffe066 !important; 
    transition: background 0.5s;
}

/* NOVO: CAMADA DE LUZ */
.light-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(156, 122, 1, 0.322); 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
}
.room.lit .light-overlay {
    opacity: 1;
}

/* RESPONSIVO: MÁXIMO 900px */
@media (max-width: 900px) {
     .pc-area {
        left: 11vw;
        top: 25vw;
        width: 8vw;
        height: 8vw;
    }

    .frame-area {
        left: 88vw;
        top: 20vw;
        width: 8vw;
        height: 22vw;
    }

    .bed-area {
        left: 65vw;
        top: 33vw;
        width: 20vw;
        height: 20vw;
    }

    .gato-area {
        left: 24vw;
        top: 38vw;
        width: 8vw;
        height: auto;
    }

    .radio-img {
        left: 39vw;
        top: 22vw;
        width: 8vw !important;
        height: 8vw !important;
    }

    #balloon-frame {
        left: 60vw !important;
        top: 10vw !important;
        font-size: 2vw;
        max-width: 15vw;
    }

    #balloon-bed {
        left: 60vw !important;
        top: 42vw !important;
        font-size: 3vw;
        max-width: 25vw;
    }

    #balloon-gato {
        left: 40vw !important;
        top: 62vw !important;
        font-size: 3vw;
        max-width: 25vw;
    }
    .lamp-img {
        left: 78vw;
        top: 25vw;
        width: 5vw;
        height: 5vw;
    }
    .sasuke-img {
        left: 45vw;
        top: 14vw;
        width: 100px;
        height: 190px;
    }
}

/* RESPONSIVO: MÁXIMO 600px */
@media (max-width: 600px) {
    .pc-area {
        left: 11vw;
        top: 25vw;
        width: 8vw;
        height: 8vw;
    }

    .frame-area {
        left: 88vw;
        top: 20vw;
        width: 8vw;
        height: 22vw;
    }

    .bed-area {
        left: 65vw;
        top: 33vw;
        width: 20vw;
        height: 20vw;
    }

    .gato-area {
        left: 24vw;
        top: 38vw;
        width: 8vw;
        height: auto;
    }

    .radio-img {
        left: 39vw;
        top: 22vw;
        width: 8vw !important;
        height: 8vw !important;
    }

    #balloon-frame {
        left: 65vw !important;
        top: 10vw !important;
        font-size: 2vw;
        max-width: 15vw;
    }

    #balloon-bed {
        left: 60vw !important;
        top: 42vw !important;
        font-size: 3vw;
        max-width: 25vw;
    }

    #balloon-gato {
        left: 24vw !important;
        top: 24vw !important;
        font-size: 2vw;
        max-width: 15vw;
    }

    #balloon-sasuke {
        left: 24vw !important;
        top: 10vw !important;
        font-size: 2vw;
        max-width: 18vw;
    }
    .lamp-img {
        left: 78vw;
        top: 25vw;
        width: 5vw;
        height: 5vw;
    }
    .sasuke-img {
        left: 45vw;
        top: 14vw;
        width: 100px;
        height: 190px;
    }
}



.room.lit {
    background-color: #ffe066 !important; /* tom amarelado de luz acesa */
    transition: background 0.5s;
}
